<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/style.css">
    <title>Document</title>
  </head>
  <body>
    <div class="head">
        <h1>Explore House Prices by City and Bedroom Count</h1>
    </div><br><br>
    

    <div class="body">
        <form action="{{ url_for('home') }}" method="POST">
            <label for="city">Select City:</label>
            <select name="city" id="city" required>
              <option value="">select city</option>
              {% for city in cities %}
              <option value="{{ city }}">{{ city }}</option>
              {% endfor %}
            </select>
      
            <br /><br />
      
            <label for="square_feet">Square Feet: </label>
            <input type="number" name="square_feet" id="square_feet" required placeholder="Enter Square Feet" min="400" max="5000"/>
            <br /><br />
      
            <label for="bedrooms">Bedrooms  : </label>
            <input type="number" name="bedrooms" id="bedrooms" required placeholder="Enter Number of Bedrooms" min="1" max="10" maxlength="2" />
            <br /><br />
      
            <label for="bathrooms">Washroom : </label>
            <input type="number" name="bathrooms" id="bathrooms" required placeholder="Enter Number of Washroom" min="1" max="12" maxlength="2"/>
            <br /><br />
      
            <div class="buttons">
              <button type="submit">Get Prediction</button> &nbsp; &nbsp;
            <button type="reset">Clear</button>
            </div>
          </form>
      
          {% if predicted_price %}
          <div class="output">
            <h2>Predicted Price: ₹ {{ predicted_price }}</h2>
          </div>
          {% endif %}
      
    </div>



   
  </body>
</html>
